@import "../libs/slick/slick.css";
@import "../libs/slick/slick-theme.css";
@import "../css/jquery.mCustomScrollbar.css";
@import "../css/nice-select.css";
@font-face {
  font-family: 'Big Calson';
  src: url('../fonts/Big Caslon Medium.ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}
*,
:after,
:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus {
  outline: 0!important;
  outline-color: transparent!important;
  outline-width: 0!important;
  outline-style: none !important;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
select,
input,
textarea,
hr,
fieldset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  resize: none;
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type='number'] {
  -moz-appearance: textfield;
}
button {
  border: none;
  background: none;
}
.slick-slide {
  outline: none;
}
section {
  position: relative;
}
.container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 168em;
  padding-right: 1em;
  padding-left: 1em;
  margin-right: auto;
  margin-left: auto;
}
.overlay {
  cursor: pointer;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #000000;
  opacity: 0.5;
}
.circle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41.44rem;
  height: 41.44rem;
  border-radius: 50%;
  border: 0.24rem solid rgba(255, 255, 255, 0.3);
}
.circle-btn .text {
  cursor: pointer;
  display: block;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .2em;
  line-height: 1.3em;
  text-transform: uppercase;
}
.circle-btn .text img {
  display: block;
  margin-top: 2.53em;
  width: 2.75em;
}
.main-title {
  width: 100%;
  text-align: center;
  color: #625e5d;
  font-family: "Big Caslon";
  font-size: 9.259rem;
  font-weight: 500;
  letter-spacing: 0.085em;
  line-height: 1.124em;
  text-transform: uppercase;
}
.btn {
  cursor: pointer;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: .87em;
  border-bottom: .07em solid #b3866f;
  color: #b3866f;
  font-family: "Open Sans";
  font-size: 1.853rem;
  font-weight: 400;
  letter-spacing: .07em;
  text-transform: uppercase;
}
.btn:after {
  content: '';
  background-image: url(../img/icons/orange-ar.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 1.75em;
  height: 1.2em;
}
.btn.white {
  color: #fff;
}
.slick-track {
  margin-left: 0 !important;
}
.mCSB_scrollTools .mCSB_draggerRail {
  width: .232rem;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: .695rem;
}
.mCSB_inside > .mCSB_container {
  margin-right: 3.6rem;
}
.mCSB_scrollTools {
  width: 1.85rem;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #fff;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #888888;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}
section {
  font-size: 0.45vw;
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 0.52vw;
  }
}
@media screen and (min-width: 1601px) and (max-width: 1920px) {
  html {
    font-size: 0.45vw;
  }
}
@media screen and (min-width: 1921px) {
  html {
    font-size: 0.4vw;
  }
}
.sidebar {
  font-size: 0.45vw;
  position: fixed;
  top: 0;
  height: 100vmin;
  z-index: 2;
}
.bg-left,
.bg-right {
  font-size: 0.45vw;
  position: absolute;
  transform: translateY(100%);
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 15.7em;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
}
.bg-left.active,
.bg-right.active {
  position: fixed;
  transform: translateY(0);
}
.bg-right {
  width: 12.7em;
  left: auto;
  right: 0;
}
#sidebar-left {
  left: 0;
  padding: 7em 6.1em;
  border-right: 0.23em solid rgba(255, 255, 255, 0.3);
}
#sidebar-left nav .logo img {
  height: 5.8em;
}
#sidebar-left nav .main-menu {
  width: max-content;
  position: absolute;
  transform: rotate(-90deg) translate(-50%, -50%);
  transform-origin: top left;
  left: 50%;
  top: 50%;
  float: left;
  display: flex;
  flex-wrap: wrap;
}
#sidebar-left nav .main-menu li {
  margin-right: 7em;
}
#sidebar-left nav .main-menu li:last-child {
  margin-right: 0;
}
#sidebar-left nav .main-menu a {
  color: #fff;
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: .25px;
  text-transform: uppercase;
}
#sidebar-left nav .burger {
  display: none;
}
#sidebar-right {
  right: 0;
  padding: 7.85em 6.1em;
  display: flex;
  align-items: center;
  border-left: 0.23em solid rgba(255, 255, 255, 0.3);
}
#sidebar-right ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#sidebar-right li {
  margin-bottom: 7em;
}
#sidebar-right li:last-child {
  margin-bottom: 0;
}
#sidebar-right .section-dot {
  position: relative;
  display: block;
  width: .6em;
  height: .6em;
  border-radius: 50%;
  background-color: #fff;
}
#sidebar-right .section-dot:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0);
  width: 3em;
  height: 3em;
  background-color: rgba(255, 255, 255, 0);
}
#sidebar-right .section-dot.active:before {
  transition: .5s;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
}
#popup-form {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -100%);
  padding: 11.3em 16.2em 9em 16.2em;
  border: 0.1em solid #707070;
  background-color: #ffffff;
  z-index: 4;
  max-width: 100%;
}
#popup-form h3 {
  width: 100%;
  text-align: center;
  color: #625e5d;
  font-size: 2.9em;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.7em;
  text-transform: uppercase;
}
#popup-form form {
  margin-top: 5.2em;
  width: 47.8em;
}
#popup-form form input {
  margin-bottom: 3em;
  padding-bottom: 1.36em;
  width: 100%;
  border-bottom: 0.15em solid #000000;
  color: #171717;
  font-size: 1.62em;
  font-weight: 400;
  letter-spacing: 0.0458em;
}
#popup-form form .required-input {
  width: 100%;
  position: relative;
}
#popup-form form .required-input:after {
  content: '*';
  position: absolute;
  right: 0;
  top: 0;
  color: #171717;
  font-size: 1.62em;
  font-weight: 400;
}
#popup-form .icons {
  margin-top: 4.8em;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
#popup-form .icons img {
  width: 5em;
}
#popup-form .icons .telegram {
  margin-right: 3em;
}
#popup-form .phone {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 1.4em;
  color: #000000;
  font-size: 2.2em;
  font-weight: 400;
}
#popup-form .more-btn {
  margin-top: 3.25em;
  width: 15em;
}
#popup-form .more-btn:after {
  background-image: url(../img/icons/phone.svg);
  width: 1.25em;
  height: 1.25em;
}
#popup-form .close {
  cursor: pointer;
  position: absolute;
  right: 3em;
  top: 4.6em;
  transform: rotate(45deg);
  width: 4em;
  height: 4em;
}
#popup-form .close:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 4em;
  width: .35em;
  background-color: #B3866F;
}
#popup-form .close:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 4em;
  height: .35em;
  background-color: #B3866F;
}
#popup-form.active {
  opacity: 1;
  visibility: inherit;
  transform: translate(-50%, -50%);
  transition: 0.4s ease-out;
}
section#main {
  background-image: url(../img/main-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
section#main .container {
  align-items: center;
}
section#main .content {
  position: relative;
  height: 35em;
  padding-left: 24em;
}
section#main .content h1 {
  color: #ffffff;
  font-family: "Big Caslon", sans-serif;
  font-size: 16.2em;
  font-weight: 500;
  line-height: .82em;
}
section#main .content .desc {
  margin-top: 2em;
  margin-left: 2.2em;
  color: #ffffff;
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: .2em;
  text-transform: uppercase;
}
section#main .content .circle-btn {
  position: absolute;
  left: 0em;
  top: -25em;
}
section#main .scroll-wrapper {
  position: absolute;
  bottom: 5.8em;
  left: 50%;
  transform: translateX(-50%);
  width: 11.6em;
}
section#main .scroll-wrapper img {
  width: 100%;
}
section#about-project {
  padding-top: 14.1em;
}
section#about-project .slider-wrap {
  margin-top: 9.25em;
  width: 100%;
}
section#about-project .slider-wrap .slider-item {
  position: relative;
  transition: 1s;
  transform: scale(0.8);
}
section#about-project .slider-wrap .slider-item.slick-active {
  transform: scale(1) !important;
  transition: 1s;
}
section#about-project .slider-wrap .img-wrap {
  margin: 0px auto;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  align-items: flex-end;
  padding: 8.1em;
  width: 164.7em;
  height: 86.1em;
  background-repeat: no-repeat;
  background-size: cover;
}
section#about-project .slider-wrap .text-block {
  position: absolute;
  left: 2.7em;
  bottom: 2.7em;
  padding: 2.7em 1.16em;
  text-align: center;
  width: 16.6em;
  background-color: rgba(98, 94, 93, 0.95);
  color: #ffffff;
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 0.52px;
  line-height: 1.62em;
  text-transform: uppercase;
}
section#advantages {
  padding-top: 14.1em;
}
section#advantages .advantages-wrap {
  width: 100%;
  margin-top: 10em;
}
section#advantages .advantages-wrap__item {
  margin-top: 11.575em;
  width: 100%;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
}
section#advantages .advantages-wrap__item .img-wrap img {
  width: 100.117em;
}
section#advantages .advantages-wrap__item .text-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 51.86em;
}
section#advantages .advantages-wrap__item .text-wrap h3 {
  color: #625e5d;
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.62em;
  text-transform: uppercase;
}
section#advantages .advantages-wrap__item .text-wrap .desc {
  height: 16.8em;
  color: #707070;
  font-size: 2.3em;
  font-weight: 400;
  letter-spacing: .05em;
}
section#advantages .advantages-wrap__item .text-wrap .desc p {
  margin-top: 3.5rem;
}
section#advantages .advantages-wrap__item .text-wrap .desc p:first-child {
  margin-top: 0;
}
section#advantages .advantages-wrap__item .text-wrap .more-btn {
  margin-top: 3.14em;
}
section#layout {
  padding-top: 14.1em;
}
section#layout .slider-wrap {
  margin-top: 9.25em;
  width: 100%;
}
section#layout .slider-wrap .slider-item {
  position: relative;
  transition: 1s;
  transform: scale(0.8);
}
section#layout .slider-wrap .slider-item.slick-active {
  transform: scale(1) !important;
  transition: 1s;
}
section#layout .slider-wrap .slider-item .img-wrap {
  padding: 0 16.2em;
  margin: 0 auto;
  width: 164.7em;
  height: 86.1em;
  background-repeat: no-repeat;
  background-size: cover;
}
section#layout .slider-wrap .slider-item .text-block {
  position: absolute;
  right: 16.2em;
  bottom: 7em;
  padding: 6.72em 7.68em;
  background-color: rgba(98, 94, 93, 0.95);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}
section#layout .slider-wrap .slider-item .text-block h3 {
  color: #fff;
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 0.02em;
  line-height: 1.62em;
  text-transform: uppercase;
}
section#layout .slider-wrap .slider-item .text-block .desc {
  margin-top: .5em;
  width: 22.8em;
  height: 16.67em;
  color: #fff;
  font-size: 2.3em;
  font-weight: 400;
  letter-spacing: .05em;
}
section#layout .slider-wrap .slider-item .text-block .desc p {
  margin-top: 3.5rem;
}
section#layout .slider-wrap .slider-item .text-block .desc p:first-child {
  margin-top: 0;
}
section#layout .slider-wrap .slider-item .text-block .more-btn {
  margin-top: 3.14em;
}
section#panorama {
  padding-top: 14.1em;
}
section#panorama .main-desc {
  margin-top: 2.63em;
  width: 100%;
  text-align: center;
  color: #000000;
  font-size: 1.86em;
  font-weight: 400;
  line-height: 1.37em;
}
section#panorama .panorama-wrap {
  margin-top: 7.4em;
  width: 100%;
  height: 54em;
  background-image: url(../img/panorama.png);
  background-size: cover;
  background-repeat: no-repeat;
}
section#price {
  position: relative;
  padding-top: 14.1em;
  padding-bottom: 14.4em;
}
section#price .main-desc {
  margin-top: 2.63em;
  width: 100%;
  text-align: center;
  color: #000000;
  font-size: 1.86em;
  font-weight: 400;
  line-height: 1.37em;
}
section#price .price-nav {
  margin-top: 8.4em;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
section#price .price-nav__item {
  cursor: pointer;
  padding: 0px 1.75em;
  padding-bottom: .7em;
  border-bottom: 0.2em solid #cbcbcb;
  color: #989898;
  font-size: 2.34em;
  font-weight: 400;
}
section#price .price-nav__item.active {
  color: #b3866f;
  border-bottom: 0.2em solid #b3866f;
}
section#price .price-nav-mobile {
  display: none;
}
section#price .price-slider {
  margin-top: 4.64em;
}
section#price .price-slider__item {
  transition: 1s;
  transform: scale(0.8);
}
section#price .price-slider__item.slick-active {
  transform: scale(1) !important;
  transition: 1s;
}
section#price .price-slider__item .img-wrap img {
  width: 120.6em;
}
section#price .price-slider__item .text-wrap {
  margin-top: .43em;
  width: 100%;
  text-align: center;
  color: #b3866f;
  font-size: 3.8em;
  font-weight: 400;
  letter-spacing: 0.07em;
  line-height: 1.28em;
}
section#price .price-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-180%);
  width: 2.43em;
  z-index: 1;
}
section#price .price-prev-arrow {
  left: 47em;
}
section#price .price-next-arrow {
  right: 47em;
}
section#price .more-btn {
  margin: 0 auto;
  margin-top: 3.6em;
  width: 25.5em;
}
section#stocks {
  background-image: url(../img/stocks-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 125em;
}
section#stocks .container {
  align-items: center;
}
section#stocks .content {
  position: relative;
  height: 35em;
  padding-left: 27em;
}
section#stocks .content h2 {
  color: #ffffff;
  font-family: "Big Caslon";
  font-size: 16.2em;
  font-weight: 500;
  line-height: .82em;
}
section#stocks .content .desc {
  margin-top: 1.1em;
  color: #ffffff;
  font-size: 2.9em;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.68em;
  text-transform: uppercase;
}
section#stocks .content .second-desc {
  margin-top: 1.7em;
  color: #ffffff;
  font-size: 1.62em;
  font-weight: 400;
  letter-spacing: 0.1em;
  line-height: 1.71em;
  text-transform: uppercase;
}
section#stocks .content .circle-btn {
  position: absolute;
  left: 67em;
  top: -23em;
  width: 47.46rem;
  height: 47.46rem;
}
section#stocks .content .circle-btn .text {
  display: block;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: .2em;
  line-height: 1.8em;
  text-transform: uppercase;
}
section#stocks .content .circle-btn .text img {
  margin-top: 1.16em;
}
section#form {
  padding-bottom: 18.2em;
  padding-top: 17.8em;
  background-image: url(../img/form.png);
  background-repeat: no-repeat;
  background-position: 85% 50%;
  background-size: 108em;
}
section#form .form-wrap {
  padding: 10em 16em;
  border: 0.1em solid #707070;
  background-color: rgba(255, 255, 255, 0.95);
}
section#form .form-wrap h3 {
  width: 100%;
  text-align: center;
  color: #625e5d;
  font-size: 2.9em;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.7em;
  text-transform: uppercase;
}
section#form .form-wrap .desc {
  margin-top: 1.3em;
  width: 100%;
  text-align: center;
  color: #000000;
  font-size: 1.62em;
  font-weight: 400;
  letter-spacing: 0.14em;
  line-height: 1.6em;
}
section#form .form-wrap form {
  margin-top: 1.28em;
  width: 47.8em;
}
section#form .form-wrap form input {
  margin-bottom: 3em;
  padding-bottom: 1.36em;
  width: 100%;
  background: transparent;
  border-bottom: 0.15em solid #000000;
  color: #171717;
  font-size: 1.62em;
  font-weight: 400;
  letter-spacing: 0.0458em;
}
section#form .form-wrap form input::placeholder {
  color: #171717;
}
section#form .form-wrap form .required-input {
  width: 100%;
  position: relative;
}
section#form .form-wrap form .required-input:after {
  content: '*';
  position: absolute;
  right: 0;
  top: 0;
  color: #171717;
  font-size: 1.62em;
  font-weight: 400;
}
section#contacts .map-bg {
  height: 78.24em;
  width: 100%;
}
section#contacts .contacts-wrap {
  position: absolute;
  left: 12.2%;
  top: 50%;
  transform: translateY(-50%);
  padding: 7.1em 11em;
  background-color: rgba(106, 102, 101, 0.85);
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
section#contacts .contacts-wrap .logo img {
  width: 3.473em;
}
section#contacts .contacts-wrap .desc {
  margin-top: 2em;
  text-align: center;
  max-width: 25em;
  color: #ffffff;
  font-size: 2.32em;
  font-weight: 400;
  letter-spacing: 0.14em;
  line-height: 1.25em;
}
section#contacts .contacts-wrap .icons {
  margin-top: 1.88em;
}
section#contacts .contacts-wrap .icons img {
  width: 5em;
}
section#contacts .contacts-wrap .icons .telegram {
  margin-right: 3em;
}
section#contacts .contacts-wrap .phone {
  margin-top: .96em;
  color: #ffffff;
  font-size: 2.9em;
  font-weight: 400;
}
section#contacts .contacts-wrap .more-btn {
  margin-top: 3.25em;
  width: 15em;
}
section#contacts .contacts-wrap .more-btn:after {
  background-image: url(../img/icons/phone.svg);
  width: 1.25em;
  height: 1.25em;
}
@media screen and (max-width: 959px) {
  #sidebar-left {
    padding: 20px 12px;
    height: 90px;
    width: 100%;
    border-bottom: 0.23em solid rgba(255, 255, 255, 0.3);
    border-right: none;
  }
  #sidebar-left nav {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #sidebar-left nav .logo img {
    height: 50px;
  }
  #sidebar-left nav .main-menu {
    transition: 0.8s ease-out;
    visibility: hidden;
    opacity: 0;
    transform: none;
    transform: translateX(100%);
    padding: 80px 12px;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    z-index: 3;
  }
  #sidebar-left nav .main-menu li {
    display: block;
    width: 100%;
    height: min-content;
    margin-bottom: 14px;
    margin-right: 0;
  }
  #sidebar-left nav .main-menu li:last-child {
    margin-bottom: 0;
  }
  #sidebar-left nav .main-menu a {
    display: block;
    text-align: center;
    width: 100%;
    color: #625e5d;
    font-size: 28px;
  }
  #sidebar-left nav .main-menu.active {
    transition: 0.8s ease-out;
    visibility: inherit;
    opacity: 1;
    transform: translateX(0);
  }
  #sidebar-left nav .burger {
    z-index: 4;
    transition: 0.4s ease-out;
    display: block;
    width: 85px;
    position: absolute;
    right: -19px;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);
    cursor: pointer;
    --length: 24;
    --offset: -38;
  }
  #sidebar-left nav .burger.active {
    transition: 0.8s ease-out;
  }
  #sidebar-left nav .burger.active path {
    stroke: #b3866f;
  }
  #sidebar-left nav .burger path {
    fill: none;
    stroke: #ffffff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: var(--length) var(--total-length);
    stroke-dashoffset: var(--offset);
    transition: all 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  #sidebar-left nav .burger .line--1,
  #sidebar-left nav .burger .line--3 {
    --total-length: 126.64183044433594;
  }
  #sidebar-left nav .burger .line--2 {
    --total-length: 70;
  }
  #sidebar-left nav .burger input {
    display: none;
  }
  #sidebar-left nav .burger input:checked + svg .line--1,
  #sidebar-left nav .burger input:checked + svg .line--3 {
    --offset: -94.11491851;
    --length: 22.627416998;
  }
  #sidebar-left nav .burger input:checked + svg .line--2 {
    --offset: -50;
    --length: 0;
  }
  .bg-left {
    transition: .4s;
    opacity: 0;
    position: fixed;
    width: 100vw;
    height: 90px;
    bottom: auto;
    top: -90px;
  }
  .bg-left.active {
    transition: .4s;
    opacity: 1;
    bottom: auto;
    top: 0;
  }
  .bg-right {
    display: none;
  }
  #sidebar-right {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .container {
    max-width: 100%;
    padding-right: 12px;
    padding-left: 12px;
  }
  .main-title {
    font-size: 22px;
  }
  .btn {
    font-size: 16px;
  }
  #popup-form {
    width: calc(100% - 24px);
    padding: 72px 12px;
  }
  #popup-form h3 {
    font-size: 25px;
    letter-spacing: 0.5px;
    line-height: 28px;
  }
  #popup-form form {
    margin-top: 50px;
    width: 100%;
  }
  #popup-form form input {
    margin-bottom: 22px;
    padding-bottom: 46px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-size: 24px;
    line-height: 28px;
  }
  #popup-form form .required-input:after {
    font-size: 24px;
  }
  #popup-form .icons {
    margin-top: 46px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
  }
  #popup-form .icons img {
    width: 43px;
  }
  #popup-form .icons .telegram {
    margin-right: 26px;
  }
  #popup-form .phone {
    margin-top: 26px;
    font-size: 18px;
  }
  #popup-form .form-btn {
    margin-top: 26px;
    width: 100%;
  }
  #popup-form .close {
    font-size: 8.64px;
    font-style: normal;
    font-weight: 400;
    height: 34.55px;
    position: absolute;
    right: 12px;
    top: 12px;
    width: 34.55px;
  }
  #popup-form .close:before {
    content: "";
    height: 35px;
    width: 3px;
    left: 17.275px;
    top: 17.275px;
  }
  #popup-form .close:after {
    content: "";
    width: 35px;
    height: 3px;
    left: 17.275px;
    top: 17.275px;
  }
  #popup-form.active {
    opacity: 1;
    visibility: inherit;
    transform: translate(-50%, -50%);
    transition: 0.4s ease-out;
  }
  section#main {
    background-position: 28%;
    height: 100vh;
  }
  section#main .container {
    align-items: center;
  }
  section#main .content {
    padding-left: 0;
    height: auto;
  }
  section#main .content h1 {
    font-size: 60px;
  }
  section#main .content .desc {
    font-size: 14px;
    margin: 0;
    margin-top: 15px;
  }
  section#main .content .circle-btn {
    display: none;
  }
  section#main .scroll-wrapper {
    bottom: 30px;
    width: 60px;
  }
  section#about-project {
    padding-top: 80px;
  }
  section#about-project .slider-wrap {
    margin-top: 47px;
  }
  section#about-project .slider-wrap .slider-item {
    transform: translate(-38%, -25%) scale(0.57);
  }
  section#about-project .slider-wrap .slider-item.slick-active {
    transform: translateX(-7%) scale(1) !important;
  }
  section#about-project .slider-wrap .img-wrap {
    background-position: center;
    padding: 0;
    height: 293px;
    width: 293px;
  }
  section#about-project .slider-wrap .text-block {
    position: static;
    margin: 0 auto;
    width: 293px;
    padding: 32px 17px;
    font-size: 16px;
    line-height: 20px;
  }
  section#advantages {
    padding-top: 80px;
  }
  section#advantages .advantages-wrap {
    margin-top: 0px;
  }
  section#advantages .advantages-wrap__item {
    flex-wrap: wrap;
    margin-top: 60px;
  }
  section#advantages .advantages-wrap__item .img-wrap {
    order: 1;
  }
  section#advantages .advantages-wrap__item .img-wrap img {
    width: 100%;
  }
  section#advantages .advantages-wrap__item .text-wrap {
    order: 2;
    max-width: 100%;
  }
  section#advantages .advantages-wrap__item .text-wrap h3 {
    margin-top: 30px;
    font-size: 20px;
  }
  section#advantages .advantages-wrap__item .text-wrap .desc {
    margin-top: 8px;
    font-size: 16px;
  }
  section#layout {
    padding-top: 80px;
  }
  section#layout .slider-wrap {
    margin-top: 38px;
    width: 100%;
  }
  section#layout .slider-wrap .slider-item {
    position: relative;
    transition: 1s;
    transform: scale(1);
  }
  section#layout .slider-wrap .slider-item.slick-active {
    transform: scale(1) !important;
    transition: 1s;
  }
  section#layout .slider-wrap .slider-item.slick-active .img-wrap {
    transform: translateX(0) scale(1);
  }
  section#layout .slider-wrap .slider-item .img-wrap {
    transition: 1s;
    transform: translate(-28%, -10.4%) scale(0.792);
    margin-left: 12px;
    margin-right: 12px;
    width: 293px;
    height: 296px;
  }
  section#layout .slider-wrap .slider-item .text-block {
    margin-left: 12px;
    margin-right: 12px;
    padding: 0;
    margin-top: 35px;
    position: static;
    background-color: inherit;
  }
  section#layout .slider-wrap .slider-item .text-block h3 {
    color: #625e5d;
    font-size: 20px;
    line-height: 42px;
  }
  section#layout .slider-wrap .slider-item .text-block .desc {
    width: 100%;
    color: #625e5d;
    font-size: 16px;
  }
  section#layout .slider-wrap .slider-item .text-block .desc p {
    margin-top: 20px;
  }
  section#layout .slider-wrap .slider-item .text-block .desc p:first-child {
    margin-top: 0;
  }
  section#layout .slider-wrap .slider-item .text-block .mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #625e5d;
  }
  section#layout .slider-wrap .slider-item .text-block .mCS-my-theme.mCSB_scrollTools .mCSB_draggerRail {
    background-color: #d1d1d1;
  }
  section#layout .slider-wrap .slider-item .text-block .mCSB_inside > .mCSB_container {
    margin-right: 20px;
  }
  section#layout .slider-wrap .slider-item .text-block .more-btn {
    color: #b3866f;
    margin-top: 30px;
  }
  section#panorama {
    padding-top: 80px;
  }
  section#panorama .main-desc {
    margin-top: 22px;
    font-size: 14px;
  }
  section#panorama .panorama-wrap {
    margin-top: 28px;
    height: 296px;
  }
  section#price {
    padding-top: 80px;
    padding-bottom: 82px;
  }
  section#price .main-desc {
    text-align: left;
    margin-top: 22px;
    font-size: 14px;
    padding: 0 12px;
  }
  section#price .price-nav {
    display: none;
    margin-top: 18px;
  }
  section#price .price-nav-mobile {
    margin: 0 12px;
    margin-top: 18px;
    display: block;
    width: calc(100% - 24px);
    box-shadow: 0 16px 32px rgba(19, 10, 59, 0.16);
    border-radius: 8px;
    background-color: #ffffff;
    padding-left: 22px;
    padding-right: 18px;
    color: #b3866f;
    font-size: 14px;
  }
  section#price .price-nav-mobile .list {
    width: 100%;
  }
  section#price .price-nav-mobile .price-nav__item {
    padding-left: 22px;
    padding-right: 18px;
    padding-bottom: 0;
    border: none;
    font-size: 14px;
    color: #989898;
  }
  section#price .price-slider {
    margin-top: 90px;
  }
  section#price .price-slider__item {
    transition: 1s;
    transform: translateX(-20%);
  }
  section#price .price-slider__item.slick-active {
    transform: translateX(0) !important;
    transition: .7s;
  }
  section#price .price-slider__item .img-wrap img {
    width: 79.5%;
  }
  section#price .price-slider__item .text-wrap {
    margin-top: 18px;
    width: 100%;
    text-align: center;
    color: #b3866f;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.07em;
    line-height: 1.28em;
  }
  section#price .more-btn {
    margin: 0 12px;
    margin-top: 28px;
    width: auto;
  }
  section#stocks {
    height: 100vh;
    padding-top: 0px;
  }
  section#stocks .content {
    height: auto;
  }
  section#stocks .content h2 {
    font-size: 60px;
  }
  section#stocks .content .desc {
    margin-top: 20px;
    font-size: 14px;
  }
  section#stocks .content .second-desc {
    margin-top: 20px;
    margin-top: 1.7em;
    font-size: 10px;
  }
  section#stocks .content .circle-btn {
    display: none;
  }
  section#form {
    background-position: bottom;
    background-size: contain;
    padding-bottom: 280px;
    padding-top: 68px;
  }
  section#form .form-wrap {
    padding: 0;
    border: inherit;
    background-color: inherit;
  }
  section#form .form-wrap h3 {
    font-size: 22px;
  }
  section#form .form-wrap .desc {
    font-size: 14px;
  }
  section#form .form-wrap form {
    margin-top: 50px;
    width: 100%;
  }
  section#form .form-wrap form input {
    margin-bottom: 50px;
    padding-bottom: 18px;
    font-size: 24px;
    color: #a0a3a7;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }
  section#form .form-wrap form input::placeholder {
    color: #a0a3a7;
  }
  section#form .form-wrap form .required-input {
    width: 100%;
    position: relative;
  }
  section#form .form-wrap form .required-input:after {
    content: '*';
    position: absolute;
    right: 0;
    top: 0;
    color: #171717;
    font-size: 1.62em;
    font-weight: 400;
  }
  section#contacts {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
  }
  section#contacts .map-bg {
    order: 2;
    height: 325px;
    width: 100%;
  }
  section#contacts .contacts-wrap {
    width: 100%;
    order: 1;
    position: static;
    transform: none;
    padding: 60px 12px;
    background-color: #6a6665;
  }
  section#contacts .contacts-wrap .logo img {
    width: 30px;
  }
  section#contacts .contacts-wrap .desc {
    margin-top: 38px;
    font-size: 14px;
    letter-spacing: 1.96px;
    line-height: 25px;
  }
  section#contacts .contacts-wrap .icons {
    margin-top: 16px;
  }
  section#contacts .contacts-wrap .icons img {
    width: 43px;
  }
  section#contacts .contacts-wrap .icons .telegram {
    margin-right: 26px;
  }
  section#contacts .contacts-wrap .phone {
    margin-top: 24px;
    font-size: 18px;
  }
  section#contacts .contacts-wrap .more-btn {
    margin-top: 50px;
    width: 100%;
  }
  section#contacts .contacts-wrap .more-btn:after {
    background-image: url(../img/icons/phone.svg);
    width: 20px;
    height: 20px;
  }
}
